@model IEnumerable<Garage3.Models.MembersViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="RegisterNewMember">Create New</a>
</p>

<form>
    <p>
        Search members: <input type="text" name="Search" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table" style="color:whitesmoke">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfVehicles)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfVehicles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberID">Details</a> |
                <a asp-action="UnregisterMember" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
