<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Garage 3</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <!-- Sidebar -->
    <nav class="sidebar active">
        <div class="col text-center logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/Logo.png" /></a>
        </div>

        <ul class="list-unstyled menu-elements">
            <li>
                <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Overview</a>
            </li>
            <li>
                <a href="#vehicleSection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="vehicleSection">
                    <i class="fas fa-car"></i>Vehicles
                </a>
                <ul class="collapse list-unstyled" id="vehicleSection">
                    <li>
                        <a asp-controller="Vehicles" asp-action="Index">Vehicle Overview</a>
                    </li>
                    <li>
                        <a asp-controller="Vehicles" asp-action="Parking">Park a vehicle</a>
                    </li>
                    <li>
                        <a asp-controller="Vehicles" asp-action="UnregisterVehicle">Retrieve a vehicle</a>
                    </li>
                    <li>
                        <a asp-controller="Vehicles" asp-action="RegisterNewVehicle">Register a new vehicle</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#memberSection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="memberSection">
                    <i class="fas fa-user-friends"></i>Members
                </a>
                <ul class="collapse list-unstyled" id="memberSection">
                    <li>
                        <a asp-controller="Members" asp-action="Index">Member Overview</a>
                    </li>
                    <li>
                        <a asp-controller="Members" asp-action="RegisterNewMember">Register a new member</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-controller="Statistics" asp-action="Index"><i class="fas fa-percent"></i>Statistics</a>
            </li>
            <li>
                <a asp-controller="Administration" asp-action="Index"><i class="fas fa-cog"></i>Administration</a>
            </li>
        </ul>
    </nav>
    <!-- End sidebar -->
    <!-- Content -->
    <div class="container">
        <main role="main" class="pb-3">
            @* Displays receipt *@
            @if (TempData["Member"] != null)
            {
                <div id="successfailuremodal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Receipt</h5>
                                <button type="button" class="close dont-print" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <strong>Member:</strong> @TempData["Member"]<br />
                                <strong>Vehicle:</strong> @TempData["Vehicle"]<br />
                                <strong>Time parked:</strong>  @TempData["Time Parked"]<br />
                                <strong>Amount Saved:</strong> @TempData["Savings"]<br />
                                <strong>Total cost:</strong>  @TempData["Cost"]<br />
                                <div class="row">
                                    <a class="btn btn-primary dont-print ml-1" asp-area="" asp-controller="Home" asp-action="Index">Close</a>
                                    <button class="btn btn-primary dont-print ml-3" asp-area="" asp-controller="Home" asp-action="Index" id="btnPrint">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </main>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <!-- End content -->
    <footer class="border-top footer text-muted dont-print">
        <div class="container text-center">
            &copy; 2021 Lexicon NA21 Group 4 - Garage 3 - <a class="link-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Javascript -->
    @RenderSection("scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>